﻿@model MaketManager.Models.MaketModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Output</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <fieldset>
        <legend style="text-align:center">Done!</legend>
        
    </fieldset>
</body>
</html>
