﻿@model MaketManager.Models.MaketModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetConfsList</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-1.9.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    @*<script src="~/scripts/getconfslist.js"></script>*@            
</head>
<body>
    <div class="container">
    <fieldset><legend style="text-align:center">Objects List</legend>
    @using (Html.BeginForm("Output", "Choice"))
    {
        for (int i = 0; i < Model.Objects.Count;i++ )
        {            
            <table class="table table-bordered">
                <caption>
                    @Html.CheckBoxFor(m => Model.Objects[i].CheckedStatus)                    
                    @Html.HiddenFor(m => Model.Objects[i].Id)
                    @Model.Objects[i].SenderName                                
                </caption>
                <thead>
                    <tr>
                        <th>Точка учета</th>
                        <th>Канал учета</th>
                        <th>Полнота данных по дням</th>
                        <th>Показания на начало периода</th>
                        <th>Показания на конец периода</th>
                        <th>Потребление</th>
                    </tr>
                </thead>
                
                @foreach (var point in Model.Objects[i].PointsList)
                {
                    foreach (var channel in @point.ChannelsList)
                    {   
                        <tr>                                
                            <td>
                                @point.Name                                
                            </td>
                            <td>
                                @channel.Name
                            </td>
                            @if (point.OverallCompleteness == 100)
                            {
                                <td>
                                    <div class="progress">                                            
                                                <div class="progress-bar bar-info" role="progressbar" aria-valuenow="@point.OverallCompleteness"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:@point.OverallCompleteness%">
                                                    @point.OverallCompleteness% Complete                                                    
                                        </div>
                                                </div>
                                </td>                                
                            }

                            else
                            {
                                <td>                                   
                                    <div class="progress" data-toggle="tooltip" data-placement="top" title="Days containing incomplete data: @point.CompByDayString">
                                        <div class="progress-bar bar-warning" role="progressbar" aria-valuenow="@point.OverallCompleteness"
                                             aria-valuemin="0" aria-valuemax="100" style="width:@point.OverallCompleteness%">@point.OverallCompleteness% Complete</div>
                                        </div>
                                </td>                                
                            }                                
                            
                                @if (@channel.FirstValue.Item1>0)
                                {
                                    <td>
                                        @channel.FirstValue.Item1
                                    </td>                                    
                                }

                                else
                                {
                                    <td style="font-weight:bold;font-style:italic;color:#794044">
                                        @channel.FirstValue.Item1
                                    </td>    
                                }                            

                            @if (@channel.LastValue.Item1 > 0)
                            {
                                <td>
                                    @channel.LastValue.Item1
                                </td>
                            }

                            else
                            {
                                <td style="font-weight:bold;font-style:italic;color:#794044">
                                    @channel.LastValue.Item1
                                </td>
                            }
                            
                            
                            @if (@channel.ConsumedAmount > 0)
                            {
                                <td>
                                    @channel.ConsumedAmount
                                </td>
                            }
                            else
                            {
                                <td style="font-weight:bold;font-style:italic;color:#794044">
                                    @channel.ConsumedAmount
                                </td>
                            }
                        </tr>                        
                    }
                }            
             </table>
        }
        <input type="submit" class="btn btn-default" name="outputgen" id="outputgen" value="Generate output for checked" />
        <input type="submit" class="btn btn-default" name="mailsend" id="mailsend" value="Send emails for checked" />
    }
    </fieldset>
        
        </div>
</body>
</html>
