﻿@using MaketManager.Models
@using BootstrapSupport
@{
    Layout = "~/Views/shared/_BootstrapLayout.empty.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />        
</head>
<body>   

    @using (Html.BeginForm("GetConfsList", "Home", FormMethod.Post, new { id = "submitForm" }))
    { 
    <fieldset>
        @Html.DropDownList("Month")
        @Html.DropDownList("Year")
        <p>
            <input type="submit" class="btn btn-default" value="GetFilesList" />            
        </p>
    </fieldset>
    }
</body>
</html>
